<ul class="horizontal-list">
  {% for item in include.collection %}

      <div class="row justify-content-md-center bottom-buffer">
        <div class="col-md-auto">
          <div class="card mb-3 text-center bg-dark text-white p-0" style="width: 35rem;">
            <img class="card-img" src="{{item.img}}" alt="tetris_preview.png">
            <div class="card-img-overlay">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.desc}}</p>
                <p class="card-text"><i>(C++/SDL2)</i></p>
                <p class="card-footer">
                  <a href="{{item.github_link}}" class="btn btn-secondary" target="_blank">Github</a>
                  <a href="{{item.youtube_link}}" class="btn btn-danger" target="_blank">YouTube</a>
                </p>
            </div>
          </div>
        </div>
      </div>

  {% endfor %}
</ul>
