/* Generic/general stuff */
/* * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:sans-serif;
} */

* {
    justify-content: center;
}

body {
    /* background: linear-gradient(to right, #161616, #000000); */
    /* background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 86%, rgba(150,48,65,1) 100%, rgba(255,81,110,1) 100%); */
    /* background: radial-gradient(circle, rgba(22,22,22,1) 0%, rgba(0,0,0,1) 86%, rgba(150,48,65,1) 100%, rgba(255,81,110,1) 100%); */
    /* background: #232526;  fallback for old browsers */
    background: #141616;


    color: white;
}

.separator {
    color: white;
}

/* footer {
    color:white;
    text-align:center;
} */

/* Intro section (picture of me, name, icons, brief introduction) */


.intro {
    padding: 0px;
    margin: 0px;
    /* margin-bottom: -110px; */
    /* margin-top: -80px; This is bad but works for now i think. */
    margin-bottom: -35px;
}

.intro_header_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.intro_pic {
    border-radius: 35%;
    width: 150px;
    float:left;
    border-style: solid;
    border-width: 0px;
    border-color: grey;
    margin-right: 25px;
    margin-left: -12px;
    margin-top: -15px;
}

.intro_right_vertical_list {
    padding: 15px;
    margin-top: 15px;
}

.intro_name {
    font-size: 60px;
    padding-bottom: 0px;
    /*bottom: -25px;*/
    /* color:rgb(255, 81, 110); */
    position: relative;
    font-weight: bolder;
    padding-bottom: 55px;
}

.intro_links {
    
}

.social__icon--link {
    color: #fff;
    font-size: 28px;
    padding: 10px;
    top: -60px;
    position: relative;
}

.social__icon--link:hover {
    /*color:rgb(255, 81, 110);*/
    color: #2cc3ff;
    color: rgb(255, 81, 110);
    transition: all 0.3s ease;
}

.resume_link {
    color: rgb(255, 81, 110);
    font-size: 24px;
    text-decoration: none;
    font-style: italic;
    position: relative;
    text-align: center;
}

.resume_link:hover {
    /* color: rgb(255, 81, 110); */
    color: #fff;
    transition: all 0.3s ease;
}

/* Project bootstrap cards */

.card {
    color:white;
    background-color: #202020;
    /* font-size: 1.25vw; */
}

.card-title {
    text-align: center;
    text-decoration-style:solid;
    /* font-size: 2.5vw; */
    font-weight: bold;
    text-decoration: underline;
}

.card-img {
    filter: brightness(35%);
    width: 100%;
}

.card-text {
    color: white;
}

.projects_header {
    text-align: center;
}

.bottom-buffer {
    margin-bottom: 20px;
}